<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Site de suivi de portefeuille de cryptomonaies avec gestion ia alertes en temps réel"
    />
    <meta type="keywords" content="crypto, investissement, portefeuille" />

    <!-- Partage Réseaux  -->
    <meta property="og:url" content="<%= process.env.SITE_URL %>" />
    <meta property="og:url" content="http://localhost:5500" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="My Crypto" />
    <meta
      property="og:image"
      content="<%= process.env.SITE_URL %>/assets/images/Background_with_octogone_.png"
    />
    <meta
      property="og:description"
      content="Site de suivi de portefeuille de cryptomonaies avec gestion ia alertes en temps réel"
    />

    <link rel="stylesheet" href="<%= process.env.SITE_URL %>/assets/styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script type="module" src="<%= process.env.SITE_URL %>/assets/js/main.js"></script>
    <title><%= typeof title !== 'undefined' ? 'My crypto | ' + title : 'My crypto' %></title>
    <link
    rel="icon"
    type="image/png"
    href="<%= process.env.SITE_URL %>/assets/favicon/favicon-96x96.png"
    sizes="96x96"
  />
<link rel="icon" type="image/svg+xml" href="<%= process.env.SITE_URL %>/assets/favicon/favicon.svg" />
  <link rel="shortcut icon" href="<%= process.env.SITE_URL %>/assets/favicon/favicon.ico" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="<%= process.env.SITE_URL %>/assets/favicon/apple-touch-icon.png"
  />
  <link rel="manifest" href="<%= process.env.SITE_URL %>/assets/favicon/site.webmanifest" />
  
  </head>

  <body>

<header>
    <nav>
      <div id="logo">
        <a href="/">LOGO
          <!-- <svg xmlns="http://www.w3.org/2000/svg" id="logo_long" viewBox="0 0 1000 218.61">
            <defs>
              <style>
                .cls-1 {
                  stroke-width: 0px;
                }
              </style>
            </defs>
            <path class="cls-1" d="M295.67,148.67h-47.85V61.9c0-1.82-.67-3.41-2.01-4.75-1.34-1.34-2.93-2.01-4.75-2.01s-3.41.67-4.75,2.01c-1.34,1.34-2.01,2.93-2.01,4.75v100.3h61.39c1.88,0,3.5-.66,4.87-1.97,1.37-1.32,2.05-2.91,2.05-4.79s-.68-3.48-2.05-4.79c-1.37-1.32-2.99-1.97-4.87-1.97Z" />
            <path
              class="cls-1"
              d="M394.3,90.34c-3.95-3.92-8.73-5.88-14.32-5.88h-25.74c-1.88,0-3.48.66-4.8,1.97-1.32,1.32-1.98,2.91-1.98,4.79s.67,3.41,2.02,4.75c1.34,1.34,2.93,2.01,4.76,2.01h25.75c1.88,0,3.48.66,4.8,1.97,1.32,1.32,1.98,2.91,1.98,4.79l.16,9.59c-2.74-.64-4.84-.96-6.29-.96h-26.54c-5.65,0-10.48,2-14.48,6-4.01,4-6.01,8.82-6.01,14.46v7.89c0,5.69,1.99,10.53,5.97,14.5,3.98,3.98,8.82,5.96,14.52,5.96h22.91l11.46-6.77c0,1.88.67,3.48,2.01,4.79,1.34,1.32,2.98,1.97,4.91,1.97,1.83,0,3.41-.66,4.75-1.97,1.34-1.32,2.01-2.91,2.01-4.79l-1.69-50.67c-.16-5.69-2.22-10.5-6.17-14.42ZM373.19,148.35h-19.11c-1.83,0-3.41-.67-4.76-2.01-1.34-1.34-2.02-2.93-2.02-4.75v-7.57c0-1.88.66-3.48,1.98-4.79,1.32-1.32,2.92-1.97,4.8-1.97h26.69c1.88,0,3.47.64,4.76,1.93,1.29,1.29,1.96,2.9,2.02,4.83l.4,5.72-14.76,8.62Z"
            />
            <path
              class="cls-1"
              d="M464.61,72.63c1.34-2.52,3.09-3.79,5.24-3.79h25.77c1.88,0,3.48-.68,4.79-2.05,1.31-1.37,1.97-2.99,1.97-4.87s-.66-3.41-1.97-4.75c-1.32-1.34-2.91-2.01-4.79-2.01h-26.75c-2.95,0-6.02,1.06-9.18,3.18-3.17,2.12-5.5,4.58-7.01,7.37l-15.79,29.89c-1.99,3.71-2.98,8.08-2.98,13.13,0,4.57,1.05,9.02,3.14,13.37l15.63,30.21c1.34,2.53,3.73,4.81,7.17,6.85,3.44,2.04,6.77,3.06,9.99,3.06h25.3c1.88,0,3.5-.66,4.87-1.97,1.37-1.32,2.05-2.91,2.05-4.79s-.69-3.48-2.06-4.79c-1.37-1.32-3-1.97-4.88-1.97h-24.43c-3.06,0-5.26-1.41-6.61-4.26l-14.33-27.55c-1.29-2.42-1.93-5.21-1.92-8.39-.01-3.01.58-5.62,1.76-7.82l15.01-28.02Z"
            />
            <path
              class="cls-1"
              d="M581.09,84.46h-9.91c-4.35,0-8.81,1.93-13.37,5.8l-11.04,9.43v-8.46c0-1.93-.66-3.57-1.97-4.91-1.32-1.34-2.91-2.01-4.79-2.01s-3.48.68-4.79,2.05c-1.32,1.37-1.97,2.99-1.97,4.87v64.21c0,1.88.66,3.48,1.97,4.79,1.32,1.32,2.91,1.97,4.79,1.97s3.41-.66,4.75-1.97c1.34-1.32,2.01-2.91,2.01-4.79v-37.78l19.25-16.68c2.31-1.99,4.4-2.98,6.28-2.98h8.78c1.88,0,3.48.66,4.79,1.97,1.32,1.32,1.97,2.91,1.97,4.79v3.79c0,1.88.66,3.48,1.97,4.79,1.32,1.32,2.91,1.97,4.79,1.97s3.48-.67,4.79-2.01c1.32-1.34,1.97-2.98,1.97-4.91v-3.63c0-5.59-1.99-10.36-5.96-14.34-3.97-3.97-8.75-5.96-14.34-5.96Z"
            />
            <path
              class="cls-1"
              d="M694.44,84.3c-1.88,0-3.5.68-4.87,2.05-1.37,1.37-2.05,2.94-2.05,4.71l-.03,10.38-18.38,41.1h-4.7l-17.81-41.25v-10.07c0-1.88-.68-3.48-2.05-4.79-1.37-1.32-2.99-1.97-4.87-1.97s-3.38.66-4.67,1.97c-1.29,1.32-1.93,2.91-1.93,4.79v13.05l20.28,47.22c1.35,3.16,3.56,4.75,6.62,4.75h3.3l-9.26,21.51h-14.5c-1.88,0-3.48.64-4.79,1.93-1.32,1.29-1.97,2.87-1.97,4.75s.66,3.54,1.97,4.83c1.32,1.29,2.92,1.93,4.8,1.93h18.78c3.06,0,5.21-1.47,6.45-4.42l36.48-82.5v-13.21c0-1.82-.67-3.41-2.01-4.75-1.34-1.34-2.93-2.01-4.75-2.01Z"
            />
            <path
              class="cls-1"
              d="M793.28,96.38l-11.28-9.75c-4.03-3.54-8.43-5.32-13.21-5.32h-3.14c-6.39,0-12.86,3.65-19.41,10.96v-4.35c0-1.82-.67-3.41-2.01-4.75-1.34-1.34-2.93-2.01-4.75-2.01-1.93,0-3.57.67-4.91,2.01-1.34,1.34-2.01,2.93-2.01,4.75v96.51c0,1.93.68,3.57,2.05,4.91,1.37,1.34,2.99,2.01,4.87,2.01s3.48-.67,4.79-2.01c1.32-1.34,1.97-2.98,1.97-4.91v-29.97l5.24,5.24c3.65,3.65,8.11,5.48,13.37,5.48h2.98c5.59,0,10.2-1.66,13.86-4.99l11.04-9.51c5.32-4.56,7.98-10.18,7.98-16.84v-21.11c0-6.61-2.47-12.06-7.41-16.35ZM787.32,134.01c0,2.42-.89,4.32-2.66,5.72l-10.55,9.26c-1.88,1.66-3.65,2.5-5.32,2.5h-3.46c-1.83,0-3.95-1.21-6.36-3.63l-9.75-9.75c-1.99-1.99-2.98-4.03-2.98-6.12v-17.32c0-2.2.89-4.19,2.66-5.96l10.07-9.99c2.42-2.47,4.38-3.71,5.88-3.71h3.95c1.5,0,2.9.56,4.19,1.69l11.36,9.75c1.99,1.66,2.98,3.57,2.98,5.72v21.83Z"
            />
            <path
              class="cls-1"
              d="M893.42,136.99c-3.38,0-5.67,1.95-6.85,5.84-1.18,3.89-3.57,5.84-7.17,5.84h-13.21c-1.88,0-3.5-.67-4.87-2.01-1.37-1.34-2.05-2.93-2.05-4.75v-43.91h27.39c1.83,0,3.41-.66,4.75-1.97,1.34-1.32,2.01-2.91,2.01-4.79s-.67-3.41-2.01-4.75c-1.34-1.34-2.93-2.01-4.75-2.01h-27.23v-16.6c0-1.82-.68-3.41-2.05-4.75-1.37-1.34-2.94-2.01-4.71-2.01-1.88,0-3.48.66-4.79,1.97-1.32,1.32-1.97,2.91-1.97,4.79v16.6h-7.09c-1.88,0-3.48.66-4.79,1.97-1.32,1.32-1.97,2.91-1.97,4.79s.66,3.54,1.97,4.83c1.32,1.29,2.91,1.93,4.79,1.93h6.93v43.91c0,5.59,2.01,10.37,6.04,14.34,4.03,3.98,8.83,5.96,14.42,5.96h13.53c5.96,0,10.86-2.03,14.7-6.08,3.84-4.05,5.76-8.12,5.76-12.2,0-1.99-.63-3.64-1.89-4.95-1.26-1.32-2.89-1.97-4.87-1.97Z"
            />
            <path
              class="cls-1"
              d="M993.23,133.04c1.83,0,3.41-.67,4.75-2.01,1.34-1.34,2.01-2.93,2.01-4.75v-16.35c0-6.5-1.83-11.39-5.48-14.66l-5.08-4.83c-4.24-3.97-8.75-5.96-13.53-5.96h-19.01c-4.51,0-8.62,1.5-12.33,4.51l-5.64,4.43c-2.09,1.66-3.83,4-5.2,7.01-1.37,3.01-2.05,5.4-2.05,7.17v31.02c0,2.26.63,4.73,1.89,7.41,1.26,2.69,2.83,4.78,4.71,6.28l6.04,5.32c1.24,1.08,3.16,2.11,5.76,3.1,2.6.99,5.09,1.49,7.45,1.49h35.69c1.77,0,3.34-.67,4.71-2.01,1.37-1.34,2.05-2.93,2.05-4.75s-.67-3.48-2.01-4.79c-1.34-1.32-2.93-1.97-4.75-1.97h-34.8c-1.93,0-3.97-.83-6.12-2.5l-3.95-3.3c-1.99-1.61-2.98-3.57-2.98-5.88v-3.95h47.85ZM945.54,108.87c0-2.15.89-3.89,2.66-5.24l3.95-3.3c1.72-1.45,3.63-2.18,5.72-2.18h17c1.61,0,3.44.83,5.48,2.5l3.95,3.46c1.56,1.34,2.34,3.28,2.34,5.8v9.43h-41.09v-10.47Z"
            />
            <path
              class="cls-1"
              d="M82.2,203.41c-2.18-1.26-4.75-1.18-6.8-.04l-29.12-16.38-17.28-9.72-8.64-4.86-4.32-2.43-2.16-1.21-.54-.3-.27-.15-.23-.14c-.3-.19-.61-.35-.9-.56-2.34-1.58-4.25-3.81-5.45-6.38-.6-1.29-1.04-2.66-1.28-4.06-.08-.35-.11-.71-.15-1.06-.05-.35-.06-.71-.08-1.07-.02-.33-.02-.77-.03-1.18v-1.24s-.24-19.83-.24-19.83l-.45-39.65-.22-19.83-.06-4.96-.03-2.48v-1.24s-.02-.62-.02-.62v-.58c.06-3.04.95-6.08,2.56-8.68.8-1.3,1.79-2.5,2.91-3.55.56-.52,1.16-1.01,1.79-1.45.31-.23.64-.42.97-.63.32-.21.7-.42,1.05-.63l8.53-5.05,17.06-10.11,34.12-20.21,17.06-10.11c2.79-1.72,6.01-2.72,9.3-2.79,3.28-.09,6.6.73,9.48,2.36C105.93.89,102.61-.01,99.29,0c-3.33,0-6.65.94-9.53,2.63l-17.28,9.72-34.56,19.44-17.28,9.72-8.64,4.86c-.36.21-.71.39-1.09.62-.37.23-.76.45-1.12.7-.73.49-1.43,1.03-2.09,1.62-1.32,1.17-2.49,2.53-3.45,4.01-1.93,2.97-3.05,6.48-3.19,10.04l-.03.66v.62s-.02,1.24-.02,1.24l-.03,2.48-.06,4.96-.22,19.83-.45,39.65-.22,19.83v1.24c-.02.42-.03.81-.01,1.3.01.47.01.94.07,1.4.04.47.08.94.16,1.4.28,1.86.8,3.68,1.57,5.4,1.52,3.45,3.99,6.48,7.08,8.67.37.29.79.52,1.18.78l.3.19.27.16.53.32,2.13,1.26,4.26,2.53,8.53,5.05,17.06,10.11,28.74,17.03c.03,2.34,1.26,4.61,3.43,5.87,3.29,1.9,7.5.77,9.4-2.52,1.9-3.29.77-7.5-2.52-9.4Z"
            />
            <path
              class="cls-1"
              d="M198.99,62.05c-.04-.47-.08-.94-.16-1.4-.28-1.86-.8-3.68-1.56-5.4-1.52-3.45-3.98-6.48-7.07-8.67-.37-.29-.79-.52-1.18-.78l-.3-.19-.27-.16-.53-.32-2.13-1.26-4.26-2.53-8.53-5.05-17.06-10.11-28.74-17.03c-.03-2.34-1.26-4.61-3.43-5.87-3.29-1.9-7.5-.77-9.4,2.52-1.9,3.29-.77,7.5,2.52,9.4,2.18,1.26,4.75,1.18,6.8.04l29.12,16.38,17.28,9.72,8.64,4.86,4.32,2.43,2.16,1.21.54.3.27.15.23.14c.3.19.61.35.9.56,2.34,1.58,4.25,3.81,5.45,6.38.6,1.29,1.04,2.66,1.28,4.06.08.35.11.71.15,1.06.05.35.06.71.07,1.07.02.33.02.77.03,1.18v1.24s.24,19.83.24,19.83l.45,39.65.22,19.83.06,4.96.03,2.48v1.24s.02.62.02.62v.58c-.06,3.04-.95,6.08-2.56,8.68-.8,1.3-1.79,2.5-2.91,3.55-.56.52-1.16,1.01-1.79,1.45-.31.23-.64.42-.97.63-.32.21-.7.42-1.05.63l-8.53,5.05-17.06,10.11-34.12,20.21-17.06,10.11c-2.79,1.72-6.01,2.72-9.3,2.79-3.28.09-6.6-.73-9.48-2.36,2.84,1.69,6.16,2.59,9.48,2.58,3.33,0,6.65-.94,9.53-2.63l17.28-9.72,34.56-19.44,17.28-9.72,8.64-4.86c.36-.21.71-.39,1.09-.62.37-.23.76-.45,1.12-.7.73-.49,1.43-1.03,2.09-1.62,1.32-1.17,2.49-2.53,3.45-4.01,1.94-2.97,3.06-6.48,3.19-10.04l.03-.66v-.62s.02-1.24.02-1.24l.03-2.48.06-4.96.22-19.83.45-39.65.22-19.83v-1.24c.02-.42.03-.8.01-1.3-.01-.47-.01-.94-.07-1.4Z"
            />
            <path
              class="cls-1"
              d="M91.22,13.29L20.55,54.1c-5.14,2.97-8.31,8.46-8.31,14.39v81.6c0,5.94,3.17,11.42,8.31,14.39l70.67,40.8c5.14,2.97,11.48,2.97,16.62,0l70.67-40.8c5.14-2.97,8.31-8.46,8.31-14.39v-81.6c0-5.94-3.17-11.42-8.31-14.39L107.84,13.29c-5.14-2.97-11.48-2.97-16.62,0ZM45.17,99.25c.64-2.99.96-6.1,2.03-8.93.96-2.55,2.63-4.86,4.24-7.11.71-.99,2.05-1.06,3.15-.15,7.33,6.06,14.67,12.11,21.97,18.21.43.36-1.95,5.28-3.4,7.07-.15.19-.61.13-.92.19-3.65-.82-7.26-1.64-10.89-2.44-4.58-1-9.17-1.95-13.74-2.98-2.59-.58-2.99-1.28-2.44-3.85ZM46.52,116.15c-.41-2.78-1.62-5.48-.56-8.42.56-1.56,1.24-2.26,2.95-1.98,7.64,1.28,15.29,2.48,22.92,3.76,1.94.33,2.14,1,2.12,4.28-.01,1.63-.81,2.15-2.24,2.31-7.3.84-14.6,1.71-20.78,2.44-3.58.24-4.06-.02-4.41-2.39ZM49.6,126.18c-.08-.05-.15-.1-.21-.16-.02-.02-.03-.03-.05-.05-.04-.04-.08-.09-.12-.13-.02-.02-.03-.05-.05-.07-.03-.04-.06-.09-.08-.13-.01-.03-.03-.05-.04-.08-.02-.05-.04-.1-.06-.15,0-.03-.02-.05-.03-.08-.02-.06-.03-.12-.05-.18,0-.02-.01-.04-.02-.07-.02-.08-.03-.17-.04-.25,0-.02,0-.04,0-.06,0-.07-.01-.14-.02-.21,0-.03,0-.07,0-.1,0-.06,0-.12,0-.18,0-.04,0-.07,0-.11,0-.06,0-.12,0-.18,0-.07,0-.13,0-.2,0-.05,0-.11,0-.16,0-.1,0-.19,0-.28-.05-.27-.07-.52-.07-.75,0-.08.02-.14.03-.21.02-.14.03-.28.07-.4.02-.07.07-.13.1-.2.05-.1.09-.2.16-.29.05-.06.12-.11.18-.16.08-.07.15-.15.24-.21.07-.05.17-.08.25-.12.1-.05.2-.1.32-.14.1-.03.21-.05.32-.08.13-.03.25-.06.39-.08.12-.02.26-.03.39-.04.15-.01.3-.03.47-.04.14,0,.3,0,.45,0,.21,0,.42,0,.65,0,2.23.1,4.45,0,6.65-.22,3.13-.29,6.23-.84,9.24-1.75.25-.07.47-.13.7-.18.15-.04.31-.08.46-.11.17-.03.33-.05.48-.08.13-.02.27-.04.4-.05.15-.01.29,0,.42,0,.11,0,.23,0,.34.01.13.01.24.05.36.07.09.02.19.04.28.07.11.04.2.1.3.16.07.04.15.08.22.13.09.07.16.17.24.26.05.06.11.11.16.18.07.12.13.26.18.4.03.07.07.13.09.21.07.23.12.49.15.78.24,2.53,1.6,4.95.55,7.64-.07.19-.15.36-.24.52-.02.05-.05.09-.07.13-.07.12-.14.22-.21.32-.03.04-.05.07-.08.11-.1.12-.21.23-.32.31-.02.01-.04.02-.05.03-.1.07-.21.13-.33.17-.04.02-.08.03-.13.04-.11.03-.23.05-.36.06-.04,0-.08.01-.12.01-.14,0-.3,0-.46-.03-.44-.06-.95-.22-1.57-.49-5.79-2.54-12.18-3.28-18.5-2.88-.51.03-.92,0-1.26-.06-.04,0-.09-.02-.13-.03-.07-.02-.14-.04-.21-.06-.03-.01-.07-.02-.1-.04-.08-.03-.14-.07-.21-.1-.02,0-.04-.02-.05-.03ZM51.09,143.64s-.09-.09-.13-.14c-.03-.04-.06-.08-.09-.12-.04-.05-.08-.11-.11-.17-.03-.04-.05-.08-.08-.13-.03-.06-.06-.13-.09-.2-.02-.05-.04-.09-.06-.14-.03-.08-.05-.17-.08-.25-.01-.04-.03-.08-.04-.13-.03-.13-.05-.27-.07-.41-.18-1.81-.22-3.63-.32-5.45,0,0,.02,0,.02,0-.08-1.56-.17-3.12-.25-4.67-.1-1.98,1.01-3.14,2.96-2.9,6.58.82,13.15,1.71,19.72,2.56,1.39.18,2.34.83,2.51,2.27.03.23.02.44,0,.65,0,.04,0,.09-.01.13-.02.19-.06.38-.12.55-.01.03-.03.06-.04.09-.06.16-.14.3-.23.44-.01.02-.03.04-.04.06-.11.14-.23.28-.38.4-.03.03-.06.05-.1.08-.15.12-.31.23-.5.33-.02,0-.03.02-.05.02-.18.09-.37.17-.58.25-.04.02-.08.03-.13.05-.22.07-.46.14-.71.19-.05.01-.1.02-.15.03-.25.05-.5.09-.78.13-.62.08-1.3.12-2.05.13-5.09.05-10.05,2.01-13.68,5.58-.29.28-.58.51-.87.7-.06.04-.12.08-.18.12-.08.05-.17.1-.25.14-.06.03-.11.06-.17.09-.09.04-.17.07-.26.11-.05.02-.1.04-.15.06-.1.03-.2.06-.3.08-.03,0-.07.02-.1.03-.13.03-.26.05-.38.05-.03,0-.06,0-.09,0-.09,0-.19,0-.28,0-.04,0-.09-.01-.13-.02-.07,0-.15-.02-.22-.03-.05-.01-.09-.03-.13-.04-.06-.02-.13-.04-.19-.06-.04-.02-.09-.04-.13-.06-.06-.03-.12-.06-.17-.09-.04-.02-.08-.05-.12-.08-.05-.04-.1-.08-.15-.12-.04-.03-.07-.06-.11-.1ZM72.41,149.01c-5.54.83-10.19,5.28-15.73,6.07-.45.06-.91.09-1.86.18-1.27.23-3.18-5.05-3.49-6.62-.35-1.73,1.46-2.96,2.72-3.36,3.22-1.03,6.44-2.06,9.66-3.1,1.73-.56,3.46-1.13,5.19-1.69,1.48-.48,2.96-.96,4.44-1.44.75-.24,1.59-.17,2.24.29.02.01.03.02.04.04.22.16.39.34.51.52.12.18.21.37.28.56,0,.02.02.04.02.06.06.18.1.37.13.56.03.15.05.29.07.44.02.11.03.22.05.34.88,4.88.52,6.45-4.28,7.17ZM78.2,99.66c-.47.31-2.02-.45-2.71-1.11-6.27-5.87-12.45-11.83-18.69-17.73-1.34-1.27-1.65-2.49-.51-4.1.93-1.32,1.48-2.92,2.45-4.2.9-1.19,2.06-2.21,3.23-3.16,1.39-1.12,2.49-.56,3.37.83,4.96,7.79,9.94,15.57,14.89,23.37.44.7.79,1.46,1.38,2.58-1.12,1.22-2.09,2.64-3.42,3.52ZM86.27,93.81c-1.95.45-3.16-.8-4.16-2.26-4.54-6.66-9.08-13.33-13.59-20.01-.54-.8-1.02-1.69-1.26-2.61-.49-1.91-.12-3.55,1.77-4.69,2.16-1.31,4.2-2.82,6.3-4.22,2.88-1.91,5.29-1.13,6.55,2.17,1.82,4.8,3.57,9.63,5.36,14.44,1.18,3.17,2.38,6.33,3.53,9.5.26.72.39,1.5.47,1.83,0,2.38-2.56,5.29-4.97,5.85ZM149.02,145.33c0,.05,0,.1,0,.16,0,.06-.02.13-.02.2,0,.06-.01.12-.02.18-.01.07-.02.15-.04.22-.01.07-.02.13-.03.2-.02.08-.03.18-.05.27-.01.07-.03.14-.04.22-.04.21-.07.42-.11.62-.09.46-.46,4.06-.53,4.52-.02.11-.03.21-.05.32-.02.1-.03.2-.05.29-.02.09-.03.17-.05.26-.02.09-.03.18-.05.26-.02.08-.03.15-.05.23-.02.08-.03.15-.05.22-.02.07-.04.13-.05.2-.02.06-.03.13-.05.19-.02.06-.04.12-.06.17-.02.05-.04.11-.06.15-.02.05-.05.1-.07.15-.02.04-.04.09-.06.12-.03.04-.06.08-.08.12-.02.03-.05.07-.07.1-.03.03-.06.06-.1.09-.03.03-.05.05-.09.08-.04.02-.08.04-.11.06-.03.02-.06.04-.1.05-.04.02-.09.03-.13.04-.04.01-.07.02-.11.03-.05,0-.1,0-.16.01-.04,0-.08.01-.13.01-.06,0-.12,0-.18,0-.05,0-.1,0-.15,0-.07,0-.14-.02-.21-.03-.05,0-.11-.01-.16-.02-.09-.02-.19-.04-.28-.06-.05-.01-.09-.02-.15-.03-.1-.02-.22-.05-.33-.08-.05-.01-.1-.02-.16-.04-.17-.05-.35-.1-.55-.15-6.06-1.74-10.8-5.27-18.15-7.53-1.2-.37-1.99-1.69-1.73-3.15.09-3.41.57-3.76,3.87-3.26,5.98.9,11.96,1.74,17.94,2.6.26.04.5.08.72.12.08.01.16.03.23.04.07.01.12.03.18.04.07.02.14.03.21.05.06.02.12.03.17.05.06.02.12.03.17.05.05.02.1.04.15.05.05.02.1.03.14.05.04.02.08.04.12.06.04.02.09.04.13.06.03.02.06.04.09.06.04.03.08.05.11.08.03.02.05.05.07.08.03.03.06.06.08.09.02.03.04.06.06.09.02.03.04.07.06.1.02.03.03.07.04.11.01.04.03.08.04.12,0,.04.01.08.02.12,0,.04.02.09.02.13,0,.05,0,.1,0,.15,0,.05,0,.09,0,.15,0,.05,0,.12,0,.17ZM150.05,138.48c-.39,3.15-.76,3.74-2.77,3.42-6.94-1.1-13.87-2.28-20.8-3.43-1.07-.18-2.12-.65-1.64-1.84.25-.63,1.43-1.25,2.19-1.25,3.38.01,6.76.26,10.14.42,0,0,0,0,0,0,3.58.16,7.15.33,10.73.46,1.47.05,2.37.51,2.15,2.22ZM152.4,131.72c-.58,2.27-1.64,3.25-3.89,3.39-.58.04-1.17,0-1.22,0-6.76-.46-12.99-.86-19.21-1.33-2.36-.18-3.11-.98-3.51-3.38-.14-.83-.08-1.73-.37-2.5-1.28-3.42.47-6,2.24-8.6.89-1.31,2.11-1.71,3.56-1.03,6.72,3.12,13.45,6.24,20.15,9.43,1.61.77,2.79,1.93,2.26,4.02ZM154.1,115.61c0,.52-.45,5.96-1.27,7.95-.87,2.13-1.83,2.33-3.89,1.37-6.43-2.99-12.85-6.01-19.27-9.02-1.47-.69-2.97-1.34-4.41-2.09-2.05-1.07-1.58-2.29-.73-5.56.43-1.68,1.83-1.34,3.06-1.13,7.51,1.26,15.01,2.54,22.52,3.78,3.9.64,4.05.78,3.99,4.71ZM148.16,87.21c.86,1.75,1.68,3.53,2.47,5.32s1.56,3.59,2.33,5.39c.22.53.13,1.28-.04,1.87-.5,1.75-1.15,3.46-1.65,5.21-.58,2.03-1.95,2.81-4.78,2.66-5.11-.77-11.03-1.66-16.95-2.56-1.09-.17-2.18-.43-3.28-.5-2.94-.19-4.56-1.85-5.48-4.51-.53-1.55-.24-2.73,1.18-3.49,4.37-2.34,8.75-4.66,13.13-6.97,2.61-1.38,5.21-2.75,7.83-4.11,1.91-.99,4.28-.23,5.23,1.7ZM130.23,67.49c1.5-1.38,3.12-1.27,4.33.33,2.5,3.32,4.98,6.66,7.4,10.04,1.47,2.04.95,4.69-1.38,5.99-7.33,4.09-14.73,8.04-22.11,12.04-1.41.77-2.51.4-3.26-.98-.58-1.07-1.1-2.18-1.68-3.34.52-1.04.86-2.03,1.45-2.86,4.56-6.5,9.15-12.96,13.75-19.43.45-.63.94-1.26,1.5-1.79ZM120.42,59.8c2.18,1.63,4.32,3.31,6.41,5.06.6.5.8,3.52.4,4.07-5.14,7.04-10.29,14.06-15.47,21.06-.78,1.05-1.52,2.53-3.26,1.54-1.7-.96-1.64-2.36-1.05-4.04,3.14-8.81,6.21-17.66,9.31-26.48.75-2.13,1.89-2.54,3.66-1.22ZM103.83,49.15c.45.15.88.32,1.33.49.3.11.6.22.9.33.48.19.95.38,1.42.58.27.11.54.22.8.33.52.22,1.04.45,1.56.68.31.14.62.27.93.41.53.25,1.06.51,1.61.72,2.88,1.12,4.11,3.89,3.09,6.77-3.55,9.99-7.12,19.98-10.7,29.96-1,2.79-2.49,3.79-5.24,3.7-4.03-.13-5.09-.89-6.34-4.74-3-9.21-5.97-18.44-8.94-27.66-.9-2.79.28-5.43,2.98-6.54,3.16-1.3,6.31-2.62,9.49-3.85,1.06-.41,2.13-.81,3.2-1.19,1.17-.42,2.73-.39,3.91.01Z"
            /></svg
        ></a> -->
      </div>
      <div id="nav">
        <ul>
          <li><i class="fab fa-bitcoin"></i><a href="/">Home</a></li>
          <li><i class="fab fa-ethereum"></i><a href="/#cryptos">Nos Cryptos</a></li>
          <li><i class="fab fa-contao"></i><a href="/#carrousel">Carousel</a></li>
          <li><i class="fab fa-contao"></i><a href="<%= process.env.SITE_URL %>/contact">Contact</a></li>
          <li><i class="fab fa-contao"></i><a href="<%= process.env.SITE_URL %>/galerie">Galerie</a></li>
        </ul>
        <i data-theme-toggler class="fas fa-moon"></i>
      </div>
      <i id="toggle-nav" class="fab fa-buromobelexperte"></i>
    </nav>
  </header>