<head>
  <link
    rel="stylesheet"
    href="<%= process.env.SITE_URL%>/assets/styles/masonry.css"
  />
</head>

<%- include('../partials/header', {title: 'Galerie'}) %>
<main>
  <h1>Galerie</h1>
  <!-- js natif -->
  <ul class="masonry-grid">
    <%images.forEach((image) => { %>
    <!-- fin js natif -->
    <!-- html natif -->
    <li class="masonry-item">
      <img src="<%= image.media_url %>" alt="<%=image.caption %>" />
    </li>
    <!-- fin html natif -->
    <% }) %>
  </ul>
</main>
<%- include('../partials/footer') %>
